<?xml version="1.0" encoding="UTF-8"?>
	
<configuration>

	<!-- jmxConfigurator/ -->

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %p [%c{30}] - %m%n</pattern>
		</layout>
	</appender>

	<logger name="org.fusesource.scalate">
		<level value="ERROR"/>
	</logger>
	
	<logger name="org.springframework">
		<level value="ERROR"/>
	</logger>
	
	<root>
		<level value="ERROR"/>
		<appender-ref ref="stdout"/>
	</root>

</configuration>
